<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">Empex</h1>
      <p>A place to share your <i>Angular 2</i> knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">

            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': listConfig.type === 'recipes'}"
                 (click)="setListTo('recipes')">
                Recipes
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.filters.tag">
              <a class="nav-link active">
                <i class="ion-pound"></i> {{ listConfig.filters.tag }}
              </a>
            </li>
          </ul>
        </div>

        <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
      </div>

    </div>
  </div>
</div>
